<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhaoemifeng.test" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.SkipCollectActivity"
            android:label="@string/title_activity_skip_collect" >
        </activity>
        <activity
            android:name=".activitys.SkipFontActivity"
            android:label="@string/title_activity_skip_font" >
        </activity>
        <activity
            android:name=".activitys.SkipAboutActivity"
            android:label="@string/title_activity_skip_about" >
        </activity>
        <activity
            android:name=".activitys.SkipFeedbackActivity"
            android:label="@string/title_activity_skip_feedback" >
        </activity>
        <activity
            android:name=".activitys.FirstActivity"
            android:label="@string/title_activity_first" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
